*{
margin: 0;
padding: 0;
}
html
{
  scroll-behavior: smooth;
}

<!------------NAVIGATION--------------->
#nav-bar
{
position: sticky;
top: 0;
z-index: 10;
width: 90%;
}

.navbar-brand img
{
height: 60px;
padding-left: 30px;
}
.navbar-brand img:hover
{
  transition: 1s;
  transform: rotate(360deg);
}
.navbar-nav li
{
padding: 0 10px;

}
.navbar-nav li a
{
float: right;
text-align: left;
outline: none;

}
#nav-bar ul li a:hover{
color: #007bff!important;
}
.navbar 
{
background: #fff;
}
.navbar-toggler
{
border: none!important;
}
.nav-link
{
color: #555!important;
font-weight: 600;
font-size: 18px;
}
/* ------------slider--------------*/
#slider
{
 width:50%;
}
.carousel-caption
{
top:50%;
transform: translateY(-50%);
bottom: initial!important;
}
.carousel-caption h3
{
 color:yellow;
 font-size:42px;
}
.para
{
color:red;
font-size:24px;
padding: 20px;
}
/*---------------------------ABOUT-------------------------------*/
#about
{
padding-top:50px;
padding-bottom:50px;
color:#555;
}
#about .btn
{
margin-top:12px;
margin-bottom:30px;
}
.about-content
{
padding-top: 20px;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1.5rem; 
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}
.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}
.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;
}
.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;

}

.progress-bar
{
border-radius:16px;
}
.progress
{
border-radius:16px !important;
margin-bottom:20px;
}
/*-----------services---------------*/
#services
{
background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(services.jpg);
background-size:cover;
background-position:center;
color:#efefef!important;
background-attachment:fixed;
padding-top:50px;
padding-bottom:50px;
width: 98%;
border-radius: 50px;
}
#services h1{
text-align:center;
color:#efefef!important;
padding-bottom:10px;
}
#services h1:hover
{
  transition: 0.5s;
  color: #007bff;
}
.services{
margin-top:40px;
}
.icon
{
font-size:40px;
margin:20px auto;
padding:20px;
height: 80px;
width:80px;
border:1px solid #fff;
border-radius:50%;
}
#services p
{
font-size:14px;
margin-top:20px;
color: #ccc;
}
.services .col-md-3:hover{
  border-radius: 80px;
background:#007bff;
cursor:pointer;
transition:0.7s;
}
/*-----------------------------------------TEAM MEMBERS------------------------------------------*/
#team
{
  width: 96%;
padding-top:50px;
padding-bottom:50px;
color:#555;
background-position: center;
background-size: cover;
background-attachment: fixed;
border-radius: 40px;
background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5)),url(ikik.jpg);
}
h1
{
text-align:center;
color:#555 !important;
padding-bottom:10px;
}
h1::after
{
content:'';
background:#007bff;
display:block;
height:3px;
width:170px;
margin:20px auto 5px;
}
.profile-pic
{
margin-top:25px;
}
.profile-pic .img-box{
opacity:1;
display:block;
position:relative;
}
.profile-pic .img-box img{
filter:grayscale(1);
}
.profile-pic .img-box img:hover{
filter:grayscale(0);
cursor:pointer;
}
.profile-pic h2{
font-size:22px;
font-weight:bold;
margin-top:15px;
color:#007bff!important;
}
.profile-pic h3{
font-size:15px;
font-weight:bold;
margin-top:15px;
}
#team .fa{
height:25px;
width:25px;
color:#007bff !important;
background:#fff;
padding:4px;
border-radius:50%
}
.img-box ul{
padding:15px 0;
position:absolute;
z-index:2;
bottom:0;
left:50%;
transform:translateX(-50%);
opacity:0;
}
.img-box ul li
{
padding:5px;
display:inline-block;
}
.img-box:hover ul
{
opacity:1;
}
.img-box ul , .img-box ul li{
transition:0.5s;
}
/*---------------------------------PROMO---------------------------------------------------*/
#promo
{
background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('services.jpg');
background-size:cover;
background-position:center;
color:#fff;
background-attachment:fixed;
text-align:center;
font-family:sans-serif;
padding:100px;
font-size:28px;
}
/*---------price plan--------------------------------*/
#price
{
padding:40px 0;
background:#efefef;
}
.single-price
{
margin:10px auto;
display:inline;
float:left;
width:100%
background-color:#fff;
transition:0.5s;
}
.single-price:hover{
box-shadow:0 2px 20px #333;
}
.price-head
{
background-color:#2196f3;
display:inline;
float:left;
padding:10px;
text-align:center;
width:100%
}
.price-head h2{
color:#fff;
font-size:30px;
font-weight:bold;
margin-bottom:5px;
padding:5px;
text-transform:uppercase;
}
.price-head p{
font-size:25px;
color:#ccc;
font-weight:bold;
line-height:30px;
}
.price-content{
display:inline;
float:left;
width:100%;
padding:0 15px;
}
.price-content ul li{
border-bottom:1px solid #efefef;
padding:15px 10px;
list-stye:none;
}
ul li:last-child{
border:none;
}
.price-button{
display:inline;
float:left;
padding:15px 15px 30px;
text-align:center;
width:100%;
}
#testimonials{
padding-top:50px;
padding-bottom:50px;
}
#testimonials p{
font-size:22px;
}
form{
font-size:22px;
word-spacing:2px;
border:2px;
}
label{
width:200px;
display:inline-block;
}
.follow{
background:#fff;
padding:2px;
margin:5px;
}